<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="../../../../../plugins/system/yjsg/assets/bootstrap3/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../../../../plugins/system/yjsg/elements/css/yjsgfa.css" />
<script type="text/javascript" src="../../../../../plugins/system/yjsg/assets/src/libraries/jquery.min.js"></script>
<script type="text/javascript" src="../../../../../plugins/system/yjsg/assets/bootstrap3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../../../plugins/system/yjsg/elements/src/yjsgfa.js"></script>
<script type="text/javascript" src="link.js"></script>
</head>
<body>
	<div class="container">
		<h2> Link shortcode </h2>
		<form role="form">
			<div class="form-group">
				<label for="linkhref" data-toggle="tooltip" data-placement="top" title="Add link">Link</label>
				<input type="text" class="form-control" id="linkhref" name="linkhref" placeholder="#" onClick="this.select()" />
			</div>
			<div class="form-group">
				<label for="linktext" data-toggle="tooltip" data-placement="top" title="Add link text">Link Text</label>
				<input type="text" class="form-control" id="linktext" name="linktext" placeholder="link text" onClick="this.select()" />
			</div>
			<button type="submit" id="addshortcode" class="btn btn-primary">Insert shortcode</button>
		</form>
	</div>
</body>
</html>